* {
    margin:0;
    padding:0;
}

body {
    background-color:#fff;
    color: #000;
    font:14px/1.3 Verdana;
    text-align: center;
    font-size: 24px;
}

header {
    background-color:#3ca1c3;
    box-shadow: 0 -1px 2px #111111;
    display:block;
    color:#fff;
    height:70px;
    width:100%;
    z-index:100;
    text-align: center;
}

header h2 {
    font-size:22px;
    font-weight:normal;
    padding:22px 0;
    width:540px;
    text-align: center;
}

p, footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    margin-top: 450px;
    font-size: 14px;
}

img {
    width: 780px;
    height: 410px;
    position: absolute;
    margin-top: 50px;
    margin-left: -360px;
    z-index: 1;
}

video {
    width: 480px;
    position: absolute;
    margin-left: -265px;
    margin-top: 98px;
    box-shadow: 0 0 5px 8px #888888;
    filter: grayscale(1);
    z-index: 2;
}